@import "./../../../responsive.scss";

.detailbanner {
  width: 100%;
  min-height: 700px;
  position: relative;
  padding-top: 120px;

  @include md {
    padding-top: 100px;
    margin-bottom: 50px;
  }

  .backgroundimg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.1;
    .lazy-load-image-background {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .container {
    width: 100%;
    display: flex;
    gap: 80px;
    flex-direction: row;
    position: relative;
    padding: 10px 60px;

    @include md {
      gap: 25px;
      flex-direction: column;
      padding: 0;
    }

    .left {
      flex-shrink: 0;
      .lazy-load-image-background {
        width: 350px;
        display: block;
        border-radius: 5%;
        // height: 500px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          // object-fit: cover;
          // object-position: center;
        }

        @include md{
          width: 400px;
        }
        @include sm{
          width: 320px;
        }

      }

      
    }

    .right {
      color: white;
      padding-top: 10px;
      @include md{
        padding-top: 0;
      }
      .heading {
        font-size: 34px;
        line-height: 50px;
        @include md {
          line-height: 40px;
          font-size: 28px;
        }
      }
      .subtitle {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 15px;
        font-style: italic;
        opacity: 0.5;
        @include md {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .genres {
        
        margin-bottom: 25px;
        flex-flow: row wrap;
      }
      .discription {
        margin-bottom: 25px;
        h1 {
          font-size: 24px;
          margin-bottom: 10px;
        }
        p {
          line-height: 24px;
          padding-right: 100px;

          @include md {
            padding-right: 0;
          }
        }
      }
      .row {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-bottom: 25px;
        .circleRating {
          max-width: 70px;
          background-color: var(--black2);
          @include md {
            max-width: 50px;
          }
          .CircularProgressbar-text {
            fill: white;
          }
        }
        .playbtn {
          display: flex;
          align-items: center;
          gap: 20px;
          cursor: pointer;
          svg {
            width: 60px;
            @include md {
              width: 80px;
            }
          }
          .text {
            font-size: 20px;
            transition: all 0.7s ease-in-out;
          }
          .triangle {
            stroke-dasharray: 240;
            stroke-dashoffset: 480;
            stroke: white;
            transform: translateY(0);
            transition: all 0.7s ease-in-out;
          }
          .circle {
            stroke: white;
            stroke-dasharray: 650;
            stroke-dashoffset: 1300;
            transition: all 0.5s ease-in-out;
          }
          &:hover {
            .text {
              color: var(--pink);
            }
            .triangle {
              stroke-dashoffset: 0;
              opacity: 1;
              stroke: var(--pink);
              animation: trailorPlay 0.7s ease-in-out;
            }
            .circle {
              stroke-dashoffset: 0;
              stroke: var(--pink);
            }
          }
        }
  
      }

      .details {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 15px 0;
        display: flex;
        .infoItem {
          margin-right: 10px;
          display: flex;
          flex-flow: row wrap;
        }
        .text {
          margin-right: 10px;
          // color: var(--orange);
          line-height: 24px;
          opacity: 0.5;
          &.bold {
            font-weight: 600;
            opacity: 1;
            color: snow;
          }
        }
      }
    }
  }

  .detailsBannerSkeleton {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
    @include md {
      gap: 50px;
      flex-direction: row;
    }
    .contentWrapper {
      display: flex;
      gap: 50px;
    }
    .left {
      flex-shrink: 0;
      width: 100%;
      display: block;
      border-radius: 12px;
      aspect-ratio: 1/1.5;
      @include md {
        max-width: 350px;
      }
    }
    .right {
      width: 100%;
      .row {
        width: 100%;
        height: 25px;
        margin-bottom: 20px;
        border-radius: 50px;
        &:nth-child(2) {
          width: 75%;
          margin-bottom: 50px;
        }
        &:nth-child(5) {
          width: 50%;
          margin-bottom: 50px;
        }
      }
    }
  }

  // .left{
  // }
}
