@import "../../responsive.scss";

.header {
  width: 100%;
  height: 75px;
  font-size: 10px;
  position: fixed;
  display: flex;
  // background: #000;
  z-index: 99;

  &.top {
    background: rgb(13, 15, 53 ,0.5);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
  &.show {
    background-color: var(--secondary);
  }
  &.hide {
    transform: translateY(-60px);
  }

  .mainbox {
    width: 100%;
    // max-width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu {
    display: none;
  }

  .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    img {
      height: 4.4em;
      margin-right: 1em;
    }
    h1 {
      font-size: 3em;
      font-weight: bold;
      color: var(--accent);
    }
  }

  ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 4em;

    li {
      font-size: 2em;
      text-transform: capitalize;
      cursor: pointer;
      position: relative;
    }
  }

  .menu {
    li {
      position: relative;
    }
    li:after {
      content: "";
      width: 100%;
      height: 0.5px;
      position: absolute;
      background-color: var(--text);
      bottom: -4px;
      left: 0;
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.4s ease;
    }
    li:hover:after {
      transform: scaleX(1);
      transform-origin: bottom right;
    }
  }

  .searchbar {
    width: 100%;
    height: 6em;
    position: absolute;
    background: var(--text);
    top: 100%;
    left: 0;
    animation: mobileMenu 0.4s ease forwards;

    z-index: -2;
    .searchbox {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      input {
        width: calc(100% - 3em);
        height: 3.3em;
        // border-radius: 3.5em;
        outline: none;
        font-size: 1.8em;
        border: none;
        padding: 0 1.6em;
      }

      i {
        font-size: 3em;
        color: var(--background);
      }
    }
  }
}

@include lg {
  .header {
    height: 70px;
    // font-size: 9px;
    .mainbox {
      padding: 0 3em;
    }
  }
}

@include sm {
  .header {
    height: 55px;

    font-size: 8px;

    .menu {
      display: block;
      transform: translateY(-200%);
      z-index: -1;
      opacity: 0;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      transition: all 0.4s ease;

      li {
        background-color: var(--black3);
        font-size: 2em;
        padding: 1em 2em;
        // cursor: pointer;
        transition: all 0.2s ease;
        border-bottom: 0.01px solid var(--black-light);
      }
      li:hover {
        background-color: var(--black-lighter);
      }
      i {
        display: none;
      }
    }
    .menuactive {
      transform: translateY(0%);
      opacity: 1;
    }

    .mobile-menu {
      display: flex;
      gap: 2.6em;

      li {
        font-size: 2.4em;
      }
    }
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
