.circleRating {
    background-color: var(--text);
    border-radius: 50%;
    padding: 4px;
    .CircularProgressbar-text {
        font-size: 34px;
        font-weight: 700;
        fill: var(--background);
    }
    .CircularProgressbar-trail {
        stroke: transparent;
    }
}